[user]
	email = ignacio@ignaciotr.com
	name = Ignacio Trujillo

[alias]
  hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all

[alias]
  llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative

[alias]
  df = "!git hist | peco | awk '{print $2}' | xargs -I {} git diff {}^ {}"

[alias]
  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"

[alias]
  pst = "!git push origin $(git rev-parse --abbrev-ref HEAD) && git push origin --tags"

[alias]
  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"

[alias]
  f = "!git fetch origin"

[alias]
  s = "!git status"

[alias]
  r = "!git reset --hard"

[alias]
  mirror = "!git push mirror --all && git push mirror --tags"

[alias]
  # Remove branches that have already been merged with main.
  # a.k.a. ‘delete merged’
  dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

[alias]
# Remove the old tag with this name and tag the latest commit with it.
  retag = "!r() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1; }; r"

[alias]
  main = "!git checkout main"
  last = log -1 HEAD --stat
  cm = commit -m
  co = checkout
[init]
	defaultBranch = main
